/* CSS variables */

:root {
  --page-font-family: 'Trebuchet MS';
  --page-font-size: 24px;
  --page-main-max-width: 1200px;

  --page-background: rgb(var(--color-0));
  --page-text-color: rgb(var(--color-1));
}


/* other stuff */

:root {

  /* horizontal rule */
  --hr: linear-gradient(to right, transparent, var(--page-text-color), transparent) left no-repeat;
  --hr-size: 100% 1px;

  /* vertical rule */
  --vr: linear-gradient(to bottom, transparent, var(--page-text-color), transparent) top no-repeat;
  --vr-size: 1px 100%;
  
}

a {
  color: var(--page-text-color);
}

.unhide {
  opacity: 1;
}
