.gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.gallery > .panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 6em;
  height: 6em;
  text-align: center;
  transition: transform 0.1s;
}

.gallery > .panel:hover {
  transform: scale(1.2);
}

.gallery > .panel[data-enlarge] {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  transition: transform 0s;
  z-index: 9999;
}

.gallery > .panel > * {
  margin: 0.2em;
  max-width: 100%;
}

.gallery > .panel > .gallery-image {
  width: 100%;
  flex: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery > .panel > .gallery-image-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
