header {
  background: var(--hr);
  background-position: bottom;
  background-size: var(--hr-size);
  padding: 0.6em;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--justify);
  font-size: 1.05rem;
  font-weight: bold;
  font-variant: small-caps;
  text-align: var(--align);
  --align: center;
  --justify: space-between;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
}

.header-logo-container > * {
  margin: 0 0.4em;
}

.header-logo-container > img {
  height: 3em;
}

header > nav {
  margin: 0.5em 0;
}

header > nav > a {
  padding: 0 1em;
  text-decoration: none;
}

header > nav > a:not(:last-child) {
  border-right: 1px solid var(--page-text-color);
}

header > nav > a[data-page-current] {
  text-decoration: underline
}
