html {
  background: var(--page-background);
  height: 100vh;
  font-family: var(--page-font-family);
  font-size: var(--page-font-size);
  color: var(--page-text-color);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  opacity: 0;
  filter: blur(2px) grayscale(100%);
  transition: opacity 0.4s, filter 0.5s;
}

@media screen and (orientation: portrait) {
  body {
    font-size: calc(1rem - 4px);
  }
  header {
    --align: center !important;
    --justify: center !important;
  }
}

body > * {
  box-sizing: border-box;
  width: 100%;
}

/* other stuff */

a {
  color: var(--page-text-color);
}

.unhide {
  opacity: 1;
  filter: none;
}

.panel {
  background: rgba(var(--color-2-r), var(--color-2-g), var(--color-2-b), 0.95);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0.1em 0.1em 0.3em #000;
}
