#theme-button {
  background: var(--page-background);
  border-radius: 1em;
  padding: 0.4em 0.6em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--page-text-color);
  display: inline-block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  line-height: 1;
  opacity: 0.5;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

@media screen and (orientation: portrait) {
  #theme-button {
    bottom: 3em;
  }
}

#theme-button:hover {
  opacity: 1;
  transform: scale(1.2);
}

#theme-button[data-theme-selected='light']::after {
  content: ' 🌞';
}

#theme-button[data-theme-selected='dark']::after {
  content: ' 🌚';
}
